.quiz-thanks {
    &__wrap {
        max-width: 1500px;
        padding: 0 40px 50px;
        margin: 0 auto;
        position: relative;
    }

    &__header {
        padding: 37px 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15vh;
    }

    &__logo {
        svg {
            width: 230px;
            height: 54px;
            fill: #1E90FF;
        }
    }

    &__callback {
        font-size: 19px;
        line-height: 145%;
        color: #F77107;
        position: relative;
        white-space: nowrap;
        display: inline-block;
        width: 260px;
        padding: 21px 0;
        text-align: center;
        font-weight: 400;
        border: 1px solid #F77107;
        border-radius: 50px;

        span {
            position: absolute;
            bottom: -10px;
            left: 0;
            right: 0;
            margin: 0 auto;
            font-size: 17px;
            line-height: 145%;
            background-color: #ffffff;
            width: 190px;
            text-align: center;
        }
    }

    &__help {
        display: none;
        align-items: center;
        border: none;
        background: none;

        &-text {
            font-size: 17px;
            line-height: 100%;
            color: #ffffff;
            margin-left: 20px;
            text-align: left;
        }

        &-icon {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__content {
        max-width: 1270px;
        margin: 0 auto;
        background: #ffffff;
        box-shadow: 0px 10px 30px rgba(104, 104, 104, 0.3);
        border-radius: 10px;
        padding: 100px 15px;
        text-align: center;
    }

    &__icon {
        margin-bottom: 8vh;
    }

    &__title {
        color: #373737;
        font-size: 50px;
        line-height: 145%;
        font-weight: 700;
        margin-bottom: 6vh;
    }

    &__text {
        color: #373737;
        font-size: 27px;
        line-height: 145%;
    }

    &__social {
        display: none;
        justify-content: center;
        align-items: center;
        margin-top: 13vh;

        &-item {
            margin: 0 10px;
        }
    }

    &__bottom {
        position:absolute;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 40px 20px;

        .quiz-thanks__text {
            font-size: 12px;
            margin-bottom: 10px;
        }
    }

    &__link {
        font-size: 12px;
        line-height: 145%;
        color: #373737;
        border: 2px solid #373737;
        background: #ffffff;
        margin-left: auto;
        border-radius: 10px;
        padding: 5px 28px;
        cursor: pointer;
        display: inline-block;
    }
}

@media screen and (max-width: 992px) {
    .quiz-thanks {
        &__header {
            background-color: #09AD9A;
            margin: 0 -40px 60px;
            padding: 18px 40px;
        }

        &__logo {
            svg {
                width: 106px;
                height: 25px;
                fill: #ffffff;
            }
        }

        &__callback {
            display: none;
        }

        &__help {
            display: flex;
        }

        &__content {
            padding: 70px 15px 100px;
        }
    }
}

@media screen and (max-width: 576px) {
    .quiz-thanks {
        &__wrap {
            padding: 0;
            background-color: #ffffff;
        }

        &__header {
            display: none;
        }

        &__content {
            padding: 0 15px;
            box-shadow: none;
            background-color: #09AD9A;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100vh;
        }

        &__icon {
            display: none;
        }

        &__title {
            margin-bottom: 50px;
            color: #ffffff;
            font-size: 30px;
            line-height: 35px;
        }

        &__text {
            font-size: 16px;
            line-height: 145%;
            color: #ffffff;
        }

        &__social {
            display: flex;
        }
    }
}